@model AppUserVM
@{
    ViewBag.Title = "Giriş Yap";
}

<div class="login-body">

    <div class="container">



        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {


        <div class="login-wrap">


            <h6 class="text-center text-danger">@ViewBag.KullaniciYok</h6>


            
            <h6 class="text-center text-danger">@TempData["HesapAktifMi"]</h6>

            @if (ViewBag.AktifDegil != null)
            {
            <h6 class="text-center">@ViewBag.AktifDegil</h6>
            }

            <div class="form-title">
                <h1 class="form-title-text text-center">Giriş Yap</h1>
            </div>
            <label for="username" class="title">Kullanıcı Adı</label>
            @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "Kullanıcı adınızı giriniz", autocomplete = "off" })
            <label for="password" class="title">Parola</label>
            @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Parolanızı giriniz", autocomplete = "off" })

            <button class="bt-login bt-md btn-block mt-3"button style="background-color:green;">Giriş Yap</button>

            <div class="text-center">
                <h4 class="registration">
                    @Html.ActionLink("Üyeliğiniz yok mu? Üye olmak için tıklayınız.", "RegisterNow", "Register", null, new { @class = "login-text" })
                </h4>
            </div>

        </div>
        }


    </div>
</div>