@model ExpenseVM
@{
    ViewBag.Title = "UpdateExpense";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.Expense.ID)
    <div class="row container">
        <div class="col-sm-10">
            <section class="panel">
                <header class="panel-heading">
                    Gider Güncelleme Sayfası
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Açıklama
                        </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Expense.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Miktar
                        </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Expense.Amount, new { @class = "form-control" })
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Miktar
                        </label>
                        <div class="col-sm-10">
                            @Html.EnumDropDownListFor(x => x.Expense.ExpenseType, new { @class = "form-control" })
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Miktar
                        </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Expense.PaymentDate, new { @class = "form-control", type = "date" })
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-warning">Gider Güncelle</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}