@model CartPageVM
@{
    ViewBag.Title = "Sepetiniz";
}

<div class="login-body">
    <div class="container">
        @if (TempData["cartEmpty"] != null)
        {
            <h3 class="text-danger">@TempData["cartEmpty"]</h3>
        }
        else
        {
          

            <section id="basketTemplate" class="row">

                <h1 class="form-title-text m-3">Sepetim (@Session["count"] Ürün)</h1>
                <section id="basketContent" class="col col-md-8">
                    <div class="pb-wrapper">
                        <div class="pb-group">
                            @foreach (CartItem item in Model.Cart.Sepetim)
                            {
                                <div class="basket-item">
                                    <div class="img-container">
                                        @if (item.ImagePath == null)
                                        {
                                            <img src="~/OuterTools/img/no-image.png" alt="Resim yok" title="@item.Name" />
                                        }

                                        else
                                        {
                                            <img src="@item.ImagePath" title="@item.Name" />
                                        }
                                    </div>
                                    <div class="details">
                                        <p class="item-details">
                                            @item.Name
                                        </p>
                                    </div>
                                    <div class="basket-item-actions">
                                        <h6>x @item.Amount</h6>
                                        <div class="basket-item-price">
                                            <span>@item.Price $</span>
                                        </div>
                                        <a href="@Url.Action("DeleteFromCart", new {id=item.ID })">
                                            <i class="fas fa-trash-alt fa-lg text-info"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>

                <aside id="basketAside" class="col col-md-4">
                    <div class="col-md-12 shoppingReview">
                        <h2>Sipariş Özeti</h2>
                        <hr />
                        <h6 class="totalPrice">Ürün Toplamı</h6>
                        <h6 class="priceCount">@Model.Cart.TotalPrice $</h6>
                        <h6 class="totalPrice">Kargo Toplam</h6>
                        <h6 class="priceCount">0 $</h6>
                        <hr>
                        <h3 class="total">@Model.Cart.TotalPrice $</h3>
                    </div>
                    @*<div class="col-md-12 discount">
                        <div class="addCoupon">
                            <p class="coupon-title">
                                İndirim Kodu Gir
                            </p>
                            <input type="text" class="form-control" placeholder="Kodunuzu giriniz">
                            <a href="@Url.Action("MakeDiscount","Shopping")" class="bt-md bt-addtocart">Ekle</a>
                        </div>
                    </div>*@

                    @*<a href="@Url.Action("ConfirmOrder", "Shopping")" class="bt bt-md">Sepeti Onayla <i class="fas fa-chevron-right fa-xs"></i></a>*@
                    <a href="@Url.Action("ConfirmOrder", "Shopping")" class="btn card-btn advice">
                        <span class="arrow-icon"><i class="fas fa-chevron-right fa-xs"></i></span>
                        <span class="text">Sepeti Onayla </span>
                    </a>
                </aside>

            </section>


        }

        @*<div class="row product-list">
                @foreach (CartItem item in Model.Cart.Sepetim)
                {
                    <div class="col-md-4 my-2">
                        <section class="panel">
                            <div class="pro-img-box">
                                @if (item.ImagePath == null)
                                {
                                    <img src="~/OuterTools/img/no-image.png" alt="Resim yok" width="100" height="300" title="@item.Name" />
                                }

                                else
                                {
                                    <img src="@item.ImagePath" width="100" height="300" title="@item.Name" />
                                }

                            </div>

                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#" class="pro-title">
                                        @item.Name x @item.Amount
                                    </a>
                                </h4>
                                <p class="price">$@item.SubTotal</p>

                                <a href="@Url.Action("DeleteFromCart", new {id=item.ID })" class="bt-md bt-removecart">
                                    <i class="fas fa-trash"></i>
                                    Sepetten Çıkart
                                </a>

                            </div>

                        </section>
                    </div>
                }
            </div>*@
    </div>
</div>