@model CategoryVM
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategori Ismi</th>
                    <th class="hidden-phone">Kategori Açıklaması</th>
                    <th class="hidden-phone">Durum</th>
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category item in Model.Categories)
                {
                    <tr class="gradeX">
                        <td>@item.ID</td>
                        <td>@item.CategoryName</td>
                        <td class="hidden-phone">@item.Description</td>
                        <td class="center hidden-phone">@item.Status</td>
                        <td class="center hidden-phone">@Html.ActionLink(" ", "DeleteCategory", new { id = item.ID }, new { @class = "btn text-danger fas fa-times" })</td>
                        <td class="center hidden-phone">@Html.ActionLink(" ", "UpdateCategory", new { id = item.ID }, new { @class = "btn text-warning fas fa-edit" })</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<script src="~/Areas/Administration/AdminContent/CategoryDTJ.js"></script>